<div class="bg-white p-6 rounded-lg shadow-md space-y-4 text-xl">
  <p><strong><%= @topic.category.category.upcase %> </strong></p>
  <p><strong><%= @topic.category.description %> </strong></p>
</div>
  <hr class="my-4">
<div class="bg-white p-6 rounded-lg shadow-md space-y-4 text-lg">
  <p><strong>Title:</strong> <%= @topic.title %></p>
  <p><strong>Description:</strong> <%= @topic.description %></p>
  <p><strong>Symptoms:</strong> <%= @topic.symptoms %></p>
  <p><strong>Treatment:</strong> <%= @topic.treatment %></p>
</div>
